# Language & Agent Settings
DEFAULT_LANGUAGE=en
SUPPORTED_LANGUAGES=en,bem,nya
MODERATION_AGENT_NAME=zambia-moderation-agent
AGRINET_AGENT_NAME=zambia-agrinet-agent
SUGGESTIONS_AGENT_NAME=zambia-suggestions-agent


# Redis Settings
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_KEY_PREFIX=sva-cache-
REDIS_SOCKET_CONNECT_TIMEOUT=10
REDIS_SOCKET_TIMEOUT=10
REDIS_MAX_CONNECTIONS=100
REDIS_RETRY_ON_TIMEOUT=true
